<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tweets</title>
	<link rel="stylesheet" href="/css/search/response/background.css">
	<link rel="stylesheet" href="/css/search/response/content.css">
	<link rel="stylesheet" href="/css/search/response/icons.css">

	<script src="/dependencies/jquery/dist/jquery.js"></script>
	<script src="/dependencies/icons/js/brands.js"></script>
	<script src="/dependencies/icons/js/solid.js"></script>
	<script src="/dependencies/icons/js/fontawesome.js"></script>
	<script src="/dependencies/icons/js/regular.js"></script>
</head>
<body>
	<div class="navbar">
		<div class="home">Home</div>
	</div>
	<div class="feed">
		{{{body}}}
	</div>
	<script src="/js/search/data.js"></script>
</body>
</html>
