<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tweets</title>
	<link rel="stylesheet" href="./css/background.css">
	<link rel="stylesheet" href="./css/content.css">
	<link rel="stylesheet" href="./css/icons.css">

	<script
	src="https://code.jquery.com/jquery-3.6.0.js"
	integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
	crossorigin="anonymous"></script>
	<script src="./icons/js/brands.js"></script>
	<script src="./icons/js/solid.js"></script>
	<script src="./icons/js/fontawesome.js"></script>
	<script src="./icons/js/regular.js"></script>
</head>
<body>
	<div class="navbar">
		<div class="home">Home</div>
	</div>
	<div class="feed">
		{{{tweets}}}
	</div>
	<script src="./js/data.js"></script>
</body>
</html>
