body {
	margin: 0;
	font-family: Helvetica;
	background-color: #2D2D2D;
}

.home {
	color: white;
	top: 70%;
	left: 50%;
	position: absolute;
	margin: -25px 0 0 -25px;
	cursor: pointer;
}

.navbar {
	background: #1C1C1C;
	min-width: 100%;
	width: 100%;
	height: 60px;
	position: relative;
	cursor: pointer;
}

.feed {
	margin: 0 auto;
	background: #2D2D2D;
	width: 100%;
	height: 100%;
	position: absolute;
}

.bg-tweet {
	margin: 0 auto;
	width: 460px;
	max-height: 300px;
	margin-top: 25px;
	border: solid 1px #4F4F4F;
	border-radius: 3px;
}

/**
 * Pages
 */ 

.content-one, .content-two, .content-three {
	width: 460px;
}

.content-two {
}

.content-two {
	display: none;
}

.content-three {
	display: none;
}

.data-table {
	margin-top: 6px;
	padding-left: 10px;
	padding-bottom: 10px;
	color: white;
	font-size: 15px;
	max-width: 430px;
}

.data-table td {
	border: solid 1px #4F4F4F;
	padding: 2px 2px 2px 2px;
}
