input[type=date] {
	background: #5F5F5F;
	height: 30px;
	font-size: 14px;
	border: none;
	color: white;
	border-radius: 4px;
	outline: none;
	padding-left: 10px;
}

input[type=range] {
  -webkit-appearance: none; 
  width: 100%;
  background: transparent; 
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; 
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background: #4F4F4F;
  cursor: pointer;
  margin-top: -4px; 
}

input[type=range]::-webkit-slider-runnable-track {
  height: 6px;
  cursor: pointer;
  background: #6F6F6F;
  border-radius: 10px;
}
