.icons {
	height: 25px;
	margin-left: 90px;
	margin-top: 10px;
}

.followers {
	color: #6F6F6F;
}

.retweets {
	color: #6F6F6F;
	margin-left: 16%;
}

.favorites {
	color: #6F6F6F;
	margin-left: 17%;
}

.count {
	color: #6F6F6F;
	font-size: 14px;
}

.change-page {
	float: right;
	color: #6F6F6F;
	padding: 3px 3px 0 0;
	cursor: pointer;
}
