<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error {{code}}</title>
    <link rel="stylesheet" href="/css/error/style.css">
</head>
<body>
    <div class="code">
        <span id="code">{{code}}</span>
    </div>
    <div class="error">
        <span id="error">{{error}}</span>
    </div>
    <div class="reason">
        <span id="reason">{{reason}}</span>
    </div>
</body>
</html>

